.git
.env
.env.*
!.env.example
!.env.*.example
.idea
.vscode
.phpunit.result.cache
node_modules
node_modules.unwritable.*
vendor
public/build
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/framework/testing
bootstrap/cache/*.php
docker/mysql
playwright-temp
test-results
dentalcare.sql
